# TLG Financial Statement Analysis 2019 and 2020

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [2]:
TLGData = pd.read_excel("BI5_Data_Round1.xlsx", sheet_name=None)

In [3]:
TLGarray = TLGData.pop('Data')

In [4]:
TLGdataframe = pd.DataFrame(TLGarray)

In [5]:
TLGdataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90715 entries, 0 to 90714
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Kỳ                   90715 non-null  float64
 1   Mã sản phẩm          90715 non-null  int64
 2   Tên sản phẩm         90714 non-null  object
 3   Nhóm SP - Cấp 1      90714 non-null  float64
 4   Tên Nhóm SP - Cấp 1  90714 non-null  object
 5   Nhóm SP - Cấp 2      90715 non-null  int64
 6   Tên Nhóm SP - Cấp 2  90714 non-null  object
 7   Nhóm SP - Cấp 3      90715 non-null  int64
 8   Tên Nhóm SP - Cấp 3  90710 non-null  object
 9   Nhóm SP - Cấp 4      90715 non-null  int64
 10  Tên Nhóm SP - Cấp 4  90713 non-null  object
 11  Kênh phân phối       90715 non-null  int64
 12  Tên Kênh phân phối   90711 non-null  object
 13  Nhóm bán hàng        90714 non-null  float64
 14  Tên Nhóm bán hàng    90714 non-null  object
 15  Vùng bán hàng        90715 non-null  int64
 16  Tên Vùng bán hàng    90715 non-null  object
 17  Số lượng             90709 non-null  float64
 18  Doanh thu            90712 non-null  float64
 19  Giá vốn              90711 non-null  float64
 20  Chi phí              90712 non-null  float64
dtypes: float64(7), int64(6), object(8)
memory usage: 14.5+ MB

In [6]:
TLGdataframe.head()

,Kỳ,Mã sản phẩm,Tên sản phẩm,Nhóm SP - Cấp 1,Tên Nhóm SP - Cấp 1,Nhóm SP - Cấp 2,Tên Nhóm SP - Cấp 2,Nhóm SP - Cấp 3,Tên Nhóm SP - Cấp 3,Nhóm SP - Cấp 4,...,Kênh phân phối,Tên Kênh phân phối,Nhóm bán hàng,Tên Nhóm bán hàng,Vùng bán hàng,Tên Vùng bán hàng,Số lượng,Doanh thu,Giá vốn,Chi phí
0,1.202,50000008,Bút TL023 đen-hộp 20 cây,1.0,NHÓM BÚT VIẾT,1002,BÚT BI,10020001,BÚT BI,100200010001,...,10,General Trade,140.0,Miền Nam 1,100013,MN1-Khu vực 2,20494.0,40988000.0,28691600.00,7295814.0
1,1.202,50000010,Bút TL023 đỏ-hộp 20 cây,1.0,NHÓM BÚT VIẾT,1002,BÚT BI,10020001,BÚT BI,100200010001,...,10,General Trade,140.0,Miền Nam 1,100013,MN1-Khu vực 2,3088.0,6176000.0,4384960.00,1099321.0
2,1.202,50000015,Bút TL023 xanh-hộp 20 cây,1.0,NHÓM BÚT VIẾT,1002,BÚT BI,10020001,BÚT BI,100200010001,...,10,General Trade,140.0,Miền Nam 1,100013,MN1-Khu vực 2,20530.0,41060000.0,29563200.00,7308630.0
3,1.202,50000025,Bút TL025 đen-hộp 20 cây,1.0,NHÓM BÚT VIẾT,1002,BÚT BI,10020001,BÚT BI,100200010003,...,10,General Trade,140.0,Miền Nam 1,100013,MN1-Khu vực 2,1106.0,2614584.0,1908646.32,465393.0
4,1.202,50000027,Bút TL025 đỏ-hộp 20 cây,1.0,NHÓM BÚT VIẾT,1002,BÚT BI,10020001,BÚT BI,100200010003,...,10,General Trade,140.0,Miền Nam 1,100013,MN1-Khu vực 2,309.0,730476.0,540552.24,130024.0

In [10]:
TLGdataframe['Kỳ'].value_counts()

2.2021     3822
6.2019     3821
10.2020    3820
10.2019    3818
9.2020     3818
2.2020     3818
4.2019     3818
4.2020     3818
1.2021     3817
7.2020     3817
5.2020     3817
3.2021     3815
3.2020     3814
7.2019     3812
1.2020     3807
12.2020    3801
12.2019    3800
6.2020     3798
8.2019     3796
11.2019    3793
9.2019     3772
5.2019     3694
8.2020     3623
11.2020    3386
Name: Kỳ, dtype: int64

In [14]:
#Đổi tên cột
#TLGdataframe.columns = ['a1', 'a2,', ... 'a21'] điền đủ 21 giá trị vì có 21 cột

In [16]:
#>>> df = pd.DataFrame({'$a':[1,2], '$b': [10,20]})
#>>> df
#   $a  $b
#0   1  10
#1   2  20

#>>> df.columns = ['a', 'b']
#>>> df
#   a   b
#0  1  10
#1  2  20